
@{
    ViewBag.Title = "Report";
}

<style>
    a {
        color: white;
    }

        a:hover {
            color: white;
            text-decoration: none;
            cursor: pointer;
        }

    .spacing {
        padding-top: 15px;
        width: 80%;
        margin: auto;
    }
</style>

<div class="spacing">
    <h2>Report</h2>

    <div>1. <a href="@Url.Action("SummaryReport", "Report")">Summary Report</a></div>

</div>
